.animals-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 50vh;
    gap: 50px;
}

.animal-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.animal-preview {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    border: 1px solid white;
    background-color: #333333;
    padding: 10px;
    color: lightgray;
    align-items: center;
    justify-items: left;
}

.animal-preview:hover {
    background-color: #444444;
    color: white;
}

.animal-detail, .animal-name {
    padding: 0 5px;
}

.animal-detail {
    font-size: x-small;
}

.animal-name {
    font-weight: bolder;
}

.animal-card {
    text-align: left;
    border: 2px solid lightgray;
}

.animal-card-title {
    text-align: center;
    margin: 20px 0;
}

.animal-card-row {
    padding: 8px 20px;
    display: grid;
    border-bottom: 1px solid lightgray;
    grid-template-columns: 1fr 1fr;
}